.topbar-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    /* height: 40px; */
    background-color: lightgray;
  }
  
  .location-container {
    display: flex;
    width: auto;
    justify-content: space-between;
  }

  .my-location {
    margin: 0 5px;
    border-bottom: 2px dotted black;
  }
  