.sidenav {
    position: relative;
}
.slideout {
    z-index: 1020;
    width: 250px;
    height: 100vh;
    background-color: white;
    -webkit-box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
    position: absolute;
    left: -20px;
    top: -20px;
}
.sidenav-close {
    position: absolute;
    right: 15px;
    top: 20px;
}
ul.slideout {
    list-style: none;
}
.sidenav-links {
    margin-top: 100px;
}
.sidenav-links li {
    height: 60px;
}